h1{
	margin-top: 50px;
	margin-bottom: 0; 
}
.financialhead{
  padding: 30px 0;
  text-transform: uppercase;

}
.financialhead h1{
  font-size: 50px;
  font-weight: 600;
  margin:10px 0;
}

.bg-revenue{
	height: 450px;
}

text{
	font-family: 'Lato' !important;
}
.home__piechart{
	height: 350px;
}
.home__h350{
	height: 350px;
}
.home__h450{
	height: 450px;
}
.home__h500{
	height: 500px;
}